.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
  border: solid 0.625rem rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  font-size: 0.875rem;
  line-height: 150%;
}


@media (max-width: 1390px) {
  .editor {
    width: 100%;
  }
}