.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  font-size: 0.625rem;
  padding: 1.5em;

  &__item {
    text-decoration: none;
    color: #ffffff;
    opacity: .3;
  }
  &__item--link {
    opacity: .5;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__item--link:hover {
    opacity: .7;
  }
}