@import '../../../style/var.scss';
.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.75rem 0.938rem 0.688rem 2.2rem;
  
  &__a {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: $text;
    text-decoration: none;
    cursor: pointer;
  }

  &__img {
    display: block;
    width: 1.5rem;
    margin-right: 0.5em;
  }

  &__help {
    position: absolute;
    right: 0.938rem;
    margin: 0;
    padding: 2px 7px;
    width: 7rem;
    border: solid 3px #999999;
    border-radius: 2px;
    border-width: 1px 1px 6px 1px;
    font-size: 0.75rem;
    line-height: 1.5em;
    color: #666666;
    cursor: pointer;
    transition: all 0.1s;
  }

  &__help:active {
    border-width: 1px 1px 2px 1px;
    transform: translateY(2px);
  }
}

.header__rule {
  margin: 0;
  text-align: center;
  font-size: 2.813rem;
  padding: 0.44em 0.66em;
}
